  <div class="container p-0 pb-0" >
    <!-- Section: Social media -->
    <section class="mb-2">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="bi bi-facebook"></i>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="bi bi-twitter"></i></a>
      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
       
        href="#!"
        role="button"
        ><i class="bi bi-linkedin"></i></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="bi bi-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>



















  <form class="needs-validation pt-2 px-md-3" novalidate="">
    <div class="row">
      <div class="col-md-6 mb-3 pb-1">
        <label class="form-label" for="cont-fn">Full name<sup class="text-danger ms-1">*</sup></label>
        <!-- <input class="form-control" type="text" name="cont-fn" id="cont-fn" placeholder="John Doe" required> -->
        <input type="text" class="form-control" id="cont-fn" name="cont-fn" placeholder="John Doe" required>
        <div class="invalid-feedback">Please enter your full name!</div>
      </div>
      <div class="col-md-6 mb-3 pb-1">
        <label class="form-label" for="cont-email">Email address<sup class="text-danger ms-1">*</sup></label>
        <input class="form-control" type="email" name="cont-email" id="cont-email" placeholder="j.doe@example.com" required>
        <div class="invalid-feedback">Please enter a valid email address!</div>
      </div>
    </div>
    <div class="mb-3 pb-1">
      <label class="form-label" for="cont-subject">Subject<sup class="text-danger ms-1">*</sup></label>
      <input class="form-control" type="text" name="cont-subject"  id="cont-subject" placeholder="Title of your message" required>
      <div class="invalid-feedback">Please enter a subject!</div>
    </div>
    <div class="mb-3 pb-1">
      <label class="form-label" for="cont-message">Message<sup class="text-danger ms-1">*</sup></label>
      <textarea class="form-control" name="cont-message" id="cont-message" rows="5" placeholder="Write your message here" required></textarea>
      <div class="invalid-feedback">Please write a message!</div>
    </div>
    <div class="text-center pt-2">
      <button class="btn btn-primary" type="submit" value="submit">Send Message</button>
    </div>
  </form>