{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- {% load static %} -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
            <div class="info">
                <!--  -->
                <h1> Hi, I'm <span class="text-warning">Nurlan Sarkhanov</span> </h1>
                <p class="lead text-center">  Data Scientist and Mechatronic Engineer </p>
                <div class="col my-2  text-center align-items-center justify-content-between">
                    <a class="btn btn-primary px-4 mx-4" id="hireme" href="">Hire me </a>
                    <a class="btn btn-warning px-4 mx-4" id="get_cv" href="{% static 'main/images/portfolio/graduatrion_certifacat.svg' %}" download>Get Resume </a>
                </div>


                <!-- contact info  -->
                <div class="container-md my-5" >
                    <div class="row justify-content-center">
                        <!-- linkedin -->
                        <div class="col-sm-auto ">
                            <div class="hover-zoom" >
                                <a href="https://www.linkedin.com/in/nurlan-sarkhanov-8749a698/" class="button"> 
                                    <!-- <img src="{% static 'main/images/icons/linkedin.svg' %}" alt=""  > -->
                                    <i   style = "color:orange;" class="bi bi-linkedin fa-3x"></i>
                                </a>
                            </div>
                           
                        
                        </div>
                        <!-- github -->
                        <div class="col-sm-auto">
                            <div >
                                <a href="https://github.com/nsarkhanov" class="button"> 
                                    <!-- <img src="{% static 'main/images/icons/github.svg' %}" alt=""    > -->
                                    <i style = "color:orange;" class="bi bi-github fa-3x"></i>
                                </a>
                            </div>
                           
                        
                        </div>
                        <!-- gmail -->
                        <div class="col-sm-auto">
                            <div >
                                <a href="mailto:nsarkhanov@gmail.com" class="button"> 
                                    <!-- <img src="{% static 'main/images/icons/gmail.svg' %}" alt=""  > -->
                                    <i  style = "color:orange;" class="bi bi-envelope fa-3x"></i>
                                </a>
                            </div>
                        </div>
    
                    </div>
    
                </div>
               
            </div> 

            <img class="img-fluid w-50 d-none d-sm-block" id="profile"
                src="{% static 'main/images/banner/banner-image.png' %}">
            
        </div>
    </div>
</section>
<!-- Section for skills  -->
<section class=" p-3">
    <div class="container pb-3">
        <div class="text-center ">
            <h1>Skills</h1>
        </div>
    </div>

    <div class="container">
        <div class="d-md-flex ">
            <div class="container">
                <div class="row  align-items-center justify-content-between">

                    <div class="col">
                        <div class="d-md-flex ">
                            <img class="img-fluid d-none d-sm-block" src="{% static 'main/images/banner/skills.png' %}"
                                alt="">


                        </div>

                    </div>

                    <!-- <div class="col">
                        
                                <div ></div>
                            </div> -->

                    <div class="col">

                        <ul class="list-group list-group-flush ">
                            <li class="list-group-item">
                                <h5>Programming Languages</h5>
                                <p>Python / C++ / JS</p>
                            </li>
                            <li class="list-group-item">
                                <h5>Framworks, Library and Engine</h5>
                                <p>

                                    Pytorch / TensorFlow / Spark / Sckit Learn / Keras


                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5>Machine Learning</h5>
                            </li>
                            <li class="list-group-item">
                                <h5>Deep Learning</h5>
                            </li>
                            <li class="list-group-item">
                                <h5>Computer vision</h5>
                            </li>
                            <li class="list-group-item">
                                <h5>NLP</h5>
                            </li>
                            <li class="list-group-item">
                                <h5>Web Development</h5>
                                <p>
                                    Django / Flask /HTML / CSS / PostgreSQL
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h5>others</h5>
                                <p>

                                    Docker / GIT / AWS / Web Scrapping /

                                </p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>


        </div>

    </div>



</section>
<!-- Eductaion -->
<section class="bg-dark">
    <div class="container my-2 p-2">
        <div class="text-center  text-light">
            <h1>Education</h1>
        </div>
    </div>

    <div class="container ">
        <!-- Chemical Enmgineering-card -->
         <div class="row justify-content-start py-2">
             <div class="col-md-5">
                 <div class="card text-center">
                     <div class="card-header ">
                         <div class="row">
                             <div class="col">
                                 <img src="{% static 'main/images/icons/education-boy.svg' %}" alt="Bootstrap" width="45" height="45">
                             </div>
                             <div class="col">
                                 <h5>2012-2018</h5>
                                 <p>Graduated </p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <h4>BMU</h4>
                                 <p>Baku Engineering University</p>
                             </div>
                             <div class="col">
                                 <img src="{% static 'main/images/icons/location_icon.svg' %}" alt="Bootstrap" width="30" height="25">
                                 <P>Baku,Azerbaijam</p>
                             </div>
                         </div>
    
                     </div>
                 </div>
                 <div class="card-footer">
                     <div class="row text-center">
                         <div class="col">
                             <h2>Chemical Engineering</h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    
         <!-- Chemical Engineering  -->
         <div class="row justify-content-center py-2">
          
             <div class="col-md-5">
                 <div class="card text-center">
                     <div class="card-header ">
                         <div class="row">
                             <div class="col">
                                 <img src="{% static 'main/images/icons/education-boy.svg' %}" alt="Bootstrap" width="45" height="45">
                             </div>
                             <div class="col">
                                 <h5>2015-2016</h5>
                                 <p>Exchange Student </p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <h4>METU</h4>
                                 <p>Middle East Technical University</p>
                             </div>
                             <div class="col">
                                 <img src="{% static 'main/images/icons/location_icon.svg' %}" alt="Bootstrap" width="30" height="25">
                                 <P>Ankara,Turkey</p>
                             </div>
                         </div>
    
                     </div>
                 </div>
                 <div class="card-footer">
                     <div class="row text-center">
                         <div class="col">
                             <h2>Chemical Engineering</h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    
    
         <!-- mechatrionic  -->
         <div class="row justify-content-start py-2">
            
               <div class="col-md-5">
                 <div class="card text-center">
                     <div class="card-header ">
                         <div class="row">
                             <div class="col">
                                 <img src="{% static 'main/images/icons/education-boy.svg' %}" alt="Bootstrap" width="45" height="45">
                             </div>
                             <div class="col">
                                 <h5>2018-</h5>
                                 <p>Continue </p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <h4>FHWS</h4>
                                 <p>Hochschule für angewandte Wissenschaften Würzburg-Schweinfurt</p>
                             </div>
                             <div class="col">
                                 <img src="{% static 'main/images/icons/location_icon.svg' %}" alt="Bootstrap" width="30" height="25">
                                 <P>Schweinfurt,Germany</p>
                             </div>
                         </div>
    
                     </div>
                 </div>
                 <div class="card-footer">
                     <div class="row text-center">
                         <div class="col">
                             <h2>Mechatronic</h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <!-- AI developer  -->
         <div class="row justify-content-center py-2">
             <div class="col-md-5">
                 <div class="card text-center">
                     <div class="card-header ">
                         <div class="row">
                             <div class="col">
                                 <img src="{% static 'main/images/icons/education-boy.svg' %}" alt="Bootstrap" width="45" height="45">
                             </div>
                             <div class="col">
                                 <h5>2021-2021</h5>
                                 <p>Graduated </p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col">
                                 <h4>Strive School</h4>
                                 <p>Boot Camp</p>
                             </div>
                             <div class="col">
                                 <img src="{% static 'main/images/icons/location_icon.svg' %}" alt="Bootstrap" width="30" height="25">
                                 <P>Berlin,Germany</p>
                             </div>
                         </div>
    
                     </div>
                 </div>
                 <div class="card-footer">
                     <div class="row text-center">
                         <div class="col">
                             <h2>Data Science</h2>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
    
     </div>

    <!-- <div class="container">
    <div class="row shadow my-2 p-2 bg-light rounded-lg text-dark">
        <div class="col-md-6">
            <div class="timeline">
                <div class="timeline-box">
                    <div class="timeline-icon">
                        <i class="bi bi-book-fill"></i>
                    </div>
                    <div class="timeline-content">
                        <h4>Chemical Engineering</h4>
                        <hr class="bg-info">
                        <p></p>
                        <p class="text-info">2012-2017 Baku Engin University</p>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon">
                        <i class="bi bi-book-fill fa-3x"></i>
                    </div>
                    <div class="timeline-content">
                        <h4>Data Science</h4>
                        <hr class="bg-info">
                        <p>Boot Camp </p>
                        <p class="text-info">2021-2021 Strive School</p>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon">
                        <i class="bi bi-book-fill"></i>
                    </div>
                    <div class="timeline-content">
                        <h4>Mechatronic</h4>
                        <hr class="bg-info">
                        <p> Bachelor</p>
                        <p class="text-info">2018- Continue  FHWS </p>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon">
                        <i class="bi bi-book-fill"></i>
                    </div>
                    <div class="timeline-content">
                        <h4>Chemical Engineering</h4>
                        <hr class="bg-info">
                        <p>Exchange Program </p>
                        <p class="text-info">2015-2016 <br> Middle East Technical University</p>
                    </div>
                </div>
                <div class="timeline-box">
                    <div class="timeline-icon">
                        <i class="bi bi-book-fill"></i>
                    </div>
                    <div class="timeline-content">
                        <h4>Chemical Engineering</h4>
                        <hr class="bg-info">
                        <p>Bachelor</p>
                        <p class="text-info">2012-2017 Baku Engineering University</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <img  class="img-fluid " src="{% static 'main/images/banner/homework_icon.svg' %}" alt="">

        </div>
    </div>
</div> -->


 


</section>



{% endblock %}