
{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- {% load static %} -->
<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
            <div class="info">
                <!--  -->
                <h1> I'm <span class="text-warning"> Nurlan Sarkhanov</span> </h1>
                <p class="lead my-4">Data Scientist and Mechatronic Engineer </p>
                <div class="col text-center align-items-center justify-content-between">
                    <button class="btn btn-primary mx-3">Contact me </button>
                    <button class="btn btn-warning mx-3">Hire me </button>
                </div>
                
            </div>

            <img  class="img-fluid w-50 d-none d-sm-block"  id ="profile" src="{% static 'main/images/showcase.svg' %}">

        </div>
    </div>
</section>

<!-- Section for skills  -->
<section class="p-3">
    <div class="container">
        <div class="container">
            <div class="text-center ">
                <h1>Skills</h1>
            </div>
        </div>
        <div class="row text-center p-5">
            <div class="col-md p-3">
                <img class="img-fluid w-50 d-none d-sm-block"  src="{% static 'main/images/showcase.svg' %}" alt="">
            </div>
            <div class="col-md">123</div>
        
        </div>
    </div>
</section>




{% endblock %}

