{% extends 'base.html' %} 
{% block title %} Home {% endblock %}
{% block content %}
<section>
    <div class="content-home-page">
        <div class="glass">

            <div class="circle-big">
                 <div class="circle-inner"> 
            </div>
            <div class="content-in-glass">
                    <div class="text">
                        <p>Hello</p>
                        <h1>
                            I'm <span> Nurlan Sarkhanov </span> 
                        </h1>
                        <h2>
                            AI Developer 
                        </h2>
                        <a href="/contact" class="btn">Contact me</a>
                    </div>
                    <div class="img">
                        <div class="skill-icons">
                            <!-- <img src="{{url_for('static', filename='/imgs/png/cpp.png')}}" />
                            <img src="{{url_for('static', filename='/imgs/png/css-3.png')}}"/ >
                            <img src="{{url_for('static', filename='/imgs/png/javascript.png')}}" />
                            <img src="{{url_for('static', filename='/imgs/png/docker.png')}}" />
                            <img src="{{url_for('static', filename='/imgs/png/html.png')}}"/ >
                            <img src="{{url_for('static', filename='/imgs/png/python.png')}}"/ > -->
                        </div>
                        <img class="middle-img" src="{{url_for('static', filename='/imgs/png/artificial-intelligence.png')}} "/>
                    </div>
                    <div class="glass-bottom">
                        
                        <div class="bottom-menu">
                            <img src="{{url_for('static', filename='/imgs/png/python.png')}}"/ >
                             <img src="{{url_for('static', filename='/imgs/png/pytorch.png')}}"/ >
                             <img src="{{url_for('static', filename='/imgs/png/scikitlearn.png')}}"/ >
                             <img src="{{url_for('static', filename='/imgs/png/flask.png')}}"/ >
                             <img src="{{url_for('static', filename='/imgs/png/html.png')}}"/ >
                            <img src="{{url_for('static', filename='/imgs/png/css-3.png')}}"/ >
                            <img src="{{url_for('static', filename='/imgs/png/javascript.png')}}" />
                            <img src="{{url_for('static', filename='/imgs/png/docker.png')}}" />
                             <!-- <img src="{{url_for('static', filename='/imgs/png/cpp.png')}}" /> -->


                             
                        </div>
                    </div>
                    
            </div> 
            </div>


        </div>
        <!-- <div class="circle-edge-right"></div>
        <div class="circle-edge-left"></div>
         -->
         <div class="circle-1"></div>
         <div class="circle-2"></div>
         <div class="circle-3"></div>
         <div class="circle-fix-1"></div>
         <div class="circle-fix-2"></div>
         <div class="circle-fix-3"></div>
         
         <div class="footer">
            <a>© All rights reserved. Made by Nurlan Sarkhanov</a>
         </div>
    </div>
</section>
{% endblock %}