/* #navmenu{
    color: black;
}
#profile{
    height: 450px;
    width: 400px;
} */

#contact_section #contact_items img{
    width: 40px;;
    height: 40px;
}
#contact_section #contact_items img:hover {
    width: 65px;;
    height: 65px;
}