/* #navmenu{
    color: black;
}
#profile{
    height: 450px;
    width: 400px;
} */

/* /* #contact_section #contact_items img{
    width: 40px;;
    height: 40px;
} */
#contact_sectio{
    position: relative;
    align-items:;
}
#contact_section .row {
   position: absolute;
   bottom: 10em;

} 